body{
  margin: 0;
  padding: 0;
}

/* header edits with wave */
header{
  background: linear-gradient(90deg, #8c86f0, #e6cbef);
  height: 170px;
  color: #fff;
  padding: 8px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  position: relative;
  font-size: 350%;
}

header:before, header:after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25px;
  height: 50px;
  background: radial-gradient(closest-side, #fff, #fff 50%, transparent 50%);
  background-size: 50px 50px;
  background-position: 0 25px;
  background-repeat: repeat-x;
}

header:after{
  background:radial-gradient(closest-side, transparent, transparent 50%, #fff 50%);
  background-size: 50px 50px;
  background-position: 25px -25px;
  background-repeat: repeat-x;
  bottom:-25px;
}

/* get rid of underlines on links */
a{
  text-decoration: none;
  color: grey;
}

/* get rid of change of color when visited */
a:visited {
  color: grey;
}

/* buttons for sign up and log in */
.log{
  background-color: #fefaff;
  border-radius: 32px;
  border: 2px solid #b0b0f0;
  transition-duration: 0.2s;
  width: 15%;
  text-align:center;
  color: grey;
  float: right;
  padding: 10px;
  margin-right: 20px;
}

/* change color when hover */
.log:hover {
  background-color: aliceblue; /* Green */
  color: grey;
}

/* footer / copyright */
footer{
  text-align: center;
}

/* button of collapsible button */
.collapsible {
  background-color: #e6cbef;
  color: #fefaff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* background color if hovered */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* style of the collapsible content */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.profPic {
  width:100px;
  height:100px;
  object-fit:cover;
  background-size:cover;
  background-position:center;
  border-radius:50%;
}

.right {
  position: absolute;
  width:60px;
  height:60px;
  right: 0px;
  padding: 10px;
}



.login-page{
width:360px;
padding: 10% 0 0;
margin:auto;
}

.form{
 position: relative;
 z-index: 1;
 background: rgba(7, 40, 19, 0.8);
 max-width: 360px;
 margin: 0 auto 100px;
padding: 45px;
text-align: center
}

.form input{
font-family: "Roboto", sans-serif;
outline: 1;
background: #f2f2f2;
width:100%;
border: 0;
margin: 0 0 15px;
padding: 15px;
box-sizing: border-box;
font-size: 14px;
}

.form button{
font-family: "Roboto", sans-serif;
text-transform: uppercase;
outline:0;
background: #4CAF50;
width: 100%;
border: 0;
padding: 15px;
color: #FFFFFF;
font-size: 14px;
cursor: pointer;
}

.form .register-form{
display: none;
}
